# Web Scrapping Assignment-4

In [1]:
# import libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

In [2]:
# Importing selenium webdriver 
from selenium import webdriver

In [3]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [4]:
#Importing requests
import requests

In [5]:
# importing regex
import re

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [6]:
# let first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [7]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [8]:
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [9]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [10]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [11]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [12]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [13]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [14]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

In [15]:
table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.79
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.40
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.46
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.35
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.14
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.15
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.14
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.09
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.92
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.39
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.37
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.32
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.09
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.08
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.05
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.01
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.87
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.85
28,29.,"""Hello""[54]",Adele,"October 22, 2015",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.83

Q2. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [16]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
driver.get('https://www.guru99.com/')

In [22]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [23]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [24]:
Name=[]
Description=[]

In [25]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [26]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [27]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[1:50]
table['Description']=Description[1:50]

In [28]:
table

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q3. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [37]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get('https://www.billboard.com/')

In [39]:
button=driver.find_elements_by_xpath('//nav[@class="header__subnav bg--light"]/ul/li[3]/a')
button[0].click()

In [40]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [41]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in dt:
    if d.text is None :
        Song_name.append('-')
    else:
        Song_name.append(d.text)

In [42]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in dt:
    if d.text is None :
        Artist_name.append('-')
    else:
        Artist_name.append(d.text)

In [43]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in dt:
    if d.text is None :
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(d.text)

In [44]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in dt:
    if d.text is None :
        Peak_rank.append('-')
    else:
        Peak_rank.append(d.text)

In [45]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in dt:
    if d.text is None :
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(d.text)

In [46]:
import pandas as pd
table=pd.DataFrame({})

table['Song Name']=Song_name
table['Artist Name']=Artist_name
table['Last Week Rank']=Last_week_rank
table['Peak Rank']=Peak_rank
table['Weeks On Board']=Weeks_on_board

In [47]:
table

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

Q4. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [48]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [49]:
driver.get(' https://www.naukri.com/')

In [50]:
button=driver.find_elements_by_xpath('//ul[@class="midSec menu"]/li[2]')
button[0].click()

In [51]:
driver.switch_to.window(driver.window_handles[1])

In [52]:
search_job = driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys("Data science")
search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [53]:
Name=[]
Designation=[]
Company=[]
Skills_required=[]
Location=[]

In [57]:
for page in range(0,120):
    
    dt = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for d in dt:
        if d.text is None :
            Name.append('-')
        else:
            Name.append(d.text)
            
    dt = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for d in dt:
        if d.text is None :
            Designation.append('-')
        else:
            Designation.append(d.text)        
    
    dt = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
    for d in dt:
        if d.text is None :
            Company.append('-')
        else:
            Company.append(d.text)
            
    dt = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for d in dt:
        if d.text is None :
            Skills_required.append('-')
        else:
            Skills_required.append(d.text)       
            
    dt = driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for d in dt:
        if d.text is None :
            Location.append('-')
        else:
            Location.append(d.text)

In [64]:
import pandas as pd
table=pd.DataFrame({})

table['Company']=Company
table['Skills they hire for']=Skills_required


table

,Company,Skills they hire for
0,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...
5995,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
5996,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
5997,Granular.ai,"Machine Learning, Data Science, Product Manage..."
5998,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ..."
5999,Western Service Providers,"Software Professionals, Engineering, Technical..."

Q5. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [65]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [66]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [67]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [68]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Book_name.append('-')
    else:
        Book_name.append(d.text)

In [69]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Author_name.append('-')
    else:
        Author_name.append(d.text)

In [70]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Volumes_sold.append('-')
    else:
        Volumes_sold.append(d.text)

In [71]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Publisher.append('-')
    else:
        Publisher.append(d.text)

In [72]:
dt = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

In [73]:
import pandas as pd
table=pd.DataFrame({})

table['Book Name']=Book_name
table['Author Name']=Author_name
table['Volumes Sold']=Volumes_sold
table['Publisher']=Publisher
table['Genre']=Genre

table

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q6.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [74]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [76]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[] 
Ratings=[]
Votes=[]

In [77]:
dt = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [78]:
dt = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for d in dt:
    if d.text is None :
        Year_span.append('-')
    else:
        Year_span.append(d.text)

In [79]:
dt = driver.find_elements_by_xpath('//span[@class="genre"]')
for d in dt:
    if d.text is None :
        Genre.append('-')
    else:
        Genre.append(d.text)

In [80]:
dt = driver.find_elements_by_xpath('//span[@class="runtime"]')
for d in dt:
    if d.text is None :
        Run_time.append('-')
    else:
        Run_time.append(d.text)

In [81]:
dt = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for d in dt:
    if d.text is None :
        Ratings.append('-')
    else:
        Ratings.append(d.text)

In [82]:
dt = driver.find_elements_by_xpath('//span[@name="nv"]')
for d in dt:
    if d.text is None :
        Votes.append('-')
    else:
        Votes.append(d.text)

In [83]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name
table['Year Span']=Year_span
table['Genre']=Genre
table['Run Time']=Run_time
table['Votes']=Votes

table

,Name,Year Span,Genre,Run Time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,824,388"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"864,595"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"874,875"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"262,810"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"224,205"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"44,594"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"55,099"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"167,911"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"34,908"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"191,602"

Q7. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code.

In [84]:
driver = webdriver.Chrome(r"C:\Users\anshu\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [86]:
d = driver.find_element_by_xpath('//span[@class="normal"]/b')
d.click()

In [87]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instances=[]
attribute=[]
Year=[]

In [88]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
for d in dt:
    if d.text is None :
        Dataset_name.append('-')
    else:
        Dataset_name.append(d.text)

In [89]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Data_type.append('-')
    else:
        Data_type.append(d.text)

In [90]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Task.append('-')
    else:
        Task.append(d.text)

In [91]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Attribute_type.append('-')
    else:
        Attribute_type.append(d.text)

In [92]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        instances.append('-')
    else:
        instances.append(d.text)

In [93]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for d in dt:
    if d.text is None :
        attribute.append('-')
    else:
        attribute.append(d.text)

In [94]:
dt = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for d in dt:
    if d.text is None :
        Year.append('-')
    else:
        Year.append(d.text)

In [98]:
print(len(Dataset_name))
print(len(Data_type))
print(len(Task))
print(len(Attribute_type))
print(len(instances))
print(len(attribute))
print(len(Year))

588
589
589
589
589
589
589

In [101]:
import pandas as pd
table=pd.DataFrame({})

table['Dataset Name']=Dataset_name
table['Data Type']=Data_type[1:589]
table['Task']=Task[1:589]
table['Attribute Type']=Attribute_type[1:589]
table['Instances']=instances[1:589]
table['Attribute']=attribute[1:589]
table['Year']=Year[1:589]


table

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021